CREATE DATABASE QLKARAOKE
go
USE QLKARAOKE
go
CREATE TABLE TAIKHOAN(
	TENTK VARCHAR(50) NOT NULL,
	MATKHAU VARCHAR(50) NOT NULL,
	CONSTRAINT PK_TAIKHOAN PRIMARY KEY (TENTK)
)

CREATE TABLE NHANVIEN(
	MANV INT IDENTITY(101,1) NOT NULL,
	HOTEN NVARCHAR(50),
	GIOITINH NVARCHAR(50) CHECK (GIOITINH IN (N'Nam', N'Nữ')),
	DIACHI NVARCHAR(200),
	CMND VARCHAR(10),
	SDT VARCHAR(12),
	CONSTRAINT PK_NHANVIEN PRIMARY KEY (MANV)
)

CREATE TABLE KHACHHANG(
	MAKH INT IDENTITY(10001,1) NOT NULL,
	HOTEN NVARCHAR(50),
	CMND VARCHAR(10),
	SDT VARCHAR(12),
	CONSTRAINT PK_KHACHHANG PRIMARY KEY (MAKH)
)

CREATE TABLE PHONG(
	MAPHONG INT IDENTITY(1,1) NOT NULL,
	TENPHONG NVARCHAR(50),
	GIAPHONG FLOAT,
	TINHTRANG NVARCHAR(50) CHECK (TINHTRANG IN (N'Đang sử dụng', N'Còn trống')),
	CONSTRAINT PK_PHONG PRIMARY KEY (MAPHONG)
)

CREATE TABLE DICHVU(
	MADV INT IDENTITY(3001,1) NOT NULL,
	TENDV NVARCHAR(50),
	DONGIA FLOAT,
	CONSTRAINT PK_DICHVU PRIMARY KEY (MADV)
)

CREATE TABLE CHITIETDICHVU(
	MADON INT NOT NULL,
	STT INT NOT NULL,
	MADV INT,
	SOLUONG INT CHECK (SOLUONG >=0),
	CONSTRAINT PK_CHITIETDICHVU PRIMARY KEY (MADON, STT)
)

CREATE TABLE HOADON(
	MADON INT IDENTITY(1,1) NOT NULL,
	MAKH INT,
	MADP INT,
	MAPHONG INT,
	GIAPHONG FLOAT,
	THOIGIANDUNG INT,
	CONSTRAINT PK_HOADON PRIMARY KEY (MADON)
)
go
ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_KHACHHANG FOREIGN KEY (MAKH) REFERENCES KHACHHANG (MAKH)
ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_PHONG FOREIGN KEY (MAPHONG) REFERENCES PHONG (MAPHONG)
ALTER TABLE CHITIETDICHVU ADD CONSTRAINT FK_CHITIETDICHVU_HOADON FOREIGN KEY (MADON) REFERENCES HOADON (MADON)
ALTER TABLE CHITIETDICHVU ADD CONSTRAINT FK_CHITIETDICHVU_DICHVU FOREIGN KEY (MADV) REFERENCES DICHVU (MADV)

--------------data for NHANVIEN--------------------------------
INSERT INTO dbo.NHANVIEN VALUES  ( N'Thanh Trí' , 'Nam', N'453 Lê Vãn ' , '025113114' , '0935334000' )
INSERT INTO dbo.NHANVIEN VALUES  ( N'Vãn Tú' , 'Nam', N'KTX  Hýng' , '291150550' , '0969795220')

GO

--------------data for TAIKHOAN--------------------------------
INSERT INTO dbo.TAIKHOAN (TENTK, MATKHAU) VALUES
('ABC', '123')
GO

--------------data for KHACHHANG-----------------------------------
INSERT INTO dbo.KHACHHANG (HOTEN,CMND ,SDT) VALUES 
( N'Bích Ly','148526111', '0954852655' ),
( N'Linda ','354848448', '0964845141' )

GO


--------------data for PHONG------------------------------------
INSERT INTO dbo.PHONG(TENPHONG,GIAPHONG,TINHTRANG) VALUES 
(N'01A' ,100, N'Đang sử dụng' ),
(N'04A' ,100, N'Còn trống')
GO


--------------data for DICHVU--------------------------------------
INSERT INTO dbo.DICHVU ( TENDV, DONGIA ) VALUES 
(  N'Nui xào ', 25000 ),
(  N'xào  chiên', 20000 ),
(  N'Sting dâu', 12000 ),
(  N'húc', 14000 ),
(  N'Khãn ', 5000 ),
(  N'Trái cây', 35000 ),
(  N'Ný ', 8000 )
GO
